<!-- <h1><%= @message.title %></h1> -->

<p>
  Author: <%= @message.author %>
  <br>
  <a href="/messages/by_author/<%= @message.author %>">Check all message from this author</a>
</p>

<p>
  <%= @message.content  %>
</p>

<p>
  <a href="http://www.<%= @message.url %>"><%= @message.url %></a>
</p>

<p>
  Created at: <%= @message.created_at %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>